<div class="bg-light p-4">
    {% include 'pages/profile/level.html' %}

    <div class="form-group pt-3 row cyberfont" align="center">
        {% include 'pages/profile/stats.html' %}
    </div>


    <div class="form-group row pt-4">
        <div class="col ml-4">
            {% include 'pages/profile/user_credentials.html' %}
        </div>

        {% if self %}
        <div class="col cyberfont">
            {% include 'pages/profile/change.html' %}
        </div>
        {% endif %}
    </div>

    <div class="form-group row cyberfont">
        <div class="col ml-4">
            {% include 'pages/profile/verification.html' %}
        </div>
        {% if self %}
        <div class="col" style="padding-top: 2.8%;">
            <center>
                <button type="submit" class="save_button btn btn-dark btn-block"
                        onclick="action_tag.value = 'save-chan'">
                    Сохранить изменения
                </button>
            </center>
        </div>
        {% endif %}
    </div>
</div>