<div class="col-sm-3 display">
    <div class="mb-1">Team</div>
    <div class="pt-2">{{ team }}</div>
</div>

<div class="col-sm-3 display">
    <div class="mb-1">Reputation</div>
    <div class="mb-1 number">{{ reputation }}</div>
</div>

<div class="col-sm-3 display">
    <div class="mb-1 ">Games played</div>
    <div class="mb-1 number">{{ played_games }}</div>
</div>

<div class="col-sm-3 display">
    <div class="mb-1">Victories</div>
    <div class="mb-1 number">{{ victories }}</div>
</div>
