<div class="form-group row">
    <span class="cyberfont col-sm-4 align-middle mt-1">
        Логин:
    </span>
    <div class="form-control col-sm-8" readonly style="font-size: larger">
        <b>
            {{ login }}
        </b>
    </div>
</div>

<div class="form-group row">
    <span class="cyberfont col-sm-4 align-middle mt-1">
        Email:
    </span>
    <div class="form-control col-sm-8" readonly style="font-size: larger">
        <b>
            {{ email }}
        </b>
    </div>
</div>

<div class="form-group row">
    <span class="cyberfont col-sm-8 align-middle mt-1">
        Дата регистрации:
    </span>
    <div class="form-control col-sm-4" readonly style="font-size: larger">
        <b>
            {{ regdate|date:"d.m.Y" }}
        </b>
    </div>
</div>

<!--
TODO: remove copypaste
https://docs.djangoproject.com/en/3.0/howto/custom-template-tags/
-->