<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark cyberfont">
    <a class="navbar-brand d-xl-none" href="{% url 'index' %}" style="font-size: 102%;">NetWars</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        <ul class="navbar-nav">
            {% block menu %}
                {% for item in menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url item.url_name %}">{{ item.name }}</a>
                    </li>
                {% endfor %}
                <li class="dropdown drop">
                  <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" style="cursor: pointer">
                    Фракции
                  </a>
                  <div class="dropdown-menu bg-dark text-center">
                    <a class="text-light nav-link" href="{% url 'fraction0' %}">Cyber Corp</a>
                    <a class="text-light nav-link" href="{% url 'fraction1' %}">Добрая воля</a>
                    <a class="text-light nav-link" href="{% url 'fraction2' %}">Зов Свободы</a>
                  </div>
                </li>
            {% endblock %}
        </ul>

        <a class="navbar-brand d-none d-xl-block" style="font-size: 130%; position: absolute; margin-left: 45%;" href="/">NetWars</a>

        <ul class="navbar-nav">

            {% block usermenu %}
                {% if user.is_authenticated %}
                <li class="dropdown drop">
                  <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" style="cursor: pointer">
                    Сессии
                  </a>
                  <div class="dropdown-menu bg-dark text-center" style="margin-left: -15%;">
                    <a class="text-light nav-link" href="{% url 'sessions' %}">Поиск</a>
                    <a class="text-light nav-link" href="{% url 'create session' %}">Создание</a>
                    <a class="text-light nav-link" href="{% url 'current session' %}">Текущая</a>
                  </div>
                </li>
                {% endif %}
                {% for item in user_menu %}
                    <li class="nav-item">
                        {% if item.url_name %}
                            <a class="nav-link" href="{% url item.url_name %}">{{ item.name }}</a>
                        {% else %}
                            <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
</nav>
