<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand d-lg-none" href="{% url 'index' %}">HackWorld</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        <ul class="navbar-nav">
            {% block menu %}
            {% for item in menu %}
            <li class="nav-item">
                <a class="nav-link" href="{{ item.url_name }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            {% endblock %}
        </ul>

        <a class="navbar-brand d-none d-lg-block" style="font-size: 130%; position: absolute; margin-left: 44%;" href="{% url 'index' %}">HackWorld</a>

        <ul class="navbar-nav">
            {% block usermenu %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/my_profile/">Мой профиль</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}">Регистрация</a>
            </li>
            {% endif %}
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
                {% endif %}
            </li>
            {% endblock %}
        </ul>
    </div>
</nav>
