{% extends 'base/base.html' %}

{% block content %}

{% load static %}
  <style>
  body {
      background: linear-gradient(to top right, #9900cc, #000099);
  }

  .form1 {
      width: 1200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: rgba(0, 0, 0, 0);

  }

  #qwe {
  transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
  }

  .form1 h1 {
      margin: 30px 100px;
      padding: 0;
      text-align: center;
      color: #000;
      font-size: 30px;
      text-transform: uppercase;
  }
  </style>
    <div class="form1 p-3 rounded-lg border cyberfont">
        <h1>Создание сессии</h1>
        <div class="form">
            <form method="POST">
                <div class="container">
                    <div class="form-group">
                        <div class="row">
                            <p class="col-5 mr-4 mt-1 text-right text-white cyberfont">{{ form.session_name.label }}</p>
                            <div class="col form-group cyberfont">{{ form.session_name }}</div>
                        </div>
                        <div class="row">
                            <p class="col-5 mr-4 mt-1 text-right text-white cyberfont">{{ form.user_per_team.label }}</p>
                            <div class="col form-group cyberfont">{{ form.user_per_team }}</div>
                        </div>
                        <div class="row">
                            <p class="col-5 mr-4 mt-1 text-right text-white cyberfont">{{ form.turn_period.label }}</p>
                            <div class="col form-group cyberfont">{{ form.turn_period }}</div>
                        </div>
                        <div class="row">
                            <p class="col-5 mr-4 mt-1 text-right text-white cyberfont">{{ form.user_min_level.label }}</p>
                            <div class="col form-group cyberfont">{{ form.user_min_level }}</div>

                        </div>
                        <div class="row">
                            <p class="col-5 mr-4 mt-1 text-right text-white cyberfont">{{ form.user_max_level.label }}</p>
                            <div class="col form-group cyberfont">{{ form.user_max_level }}</div>

                        </div>
                        <div class="row">
                            <p class="col-5 mr-4 mt-1 text-right text-white cyberfont">{{ form.money_limit.label }}</p>
                            <div class="col form-group cyberfont">{{ form.money_limit }}</div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col" align="center">
            <button type="submit" class="btn btn-dark cyberfont" onclick="check_pw()" id="reg_button">
                Создать сессию
            </button>
        </div>
    </div>



{% endblock %}
