{% extends 'base/base.html' %}

{% load static %}
{% block content %}

<style>
    body {
        background: linear-gradient(to right, #654ea3, #eaafc8);
    }
</style>

<div class="container text-white" style="background-color: rgba(0, 0, 0, 0.6); padding-bottom : 5%;">
    <h1 class="text-center cyberfont" style="font-size: 250%; padding-top: 10%;">Добро пожаловать в Netwars</h1>
    <div class="col p-5">
        <p class="pt-5 cyberfont" style="font-size: 105%;">Перед тем, как войти в игру,
            убедитесь, что вы зарегистрированы на нашем сайте. Если нет, то нажмите кнопку “регистрация” и зарегистрируйтесь.
        </p>

        <p class="cyberfont" style="font-size: 105%;">
            Для того, чтобы начать игру, введите свой логин и пароль в соответствующие поля для заполнения и нажмите кнопку “Войти”.
        </p>

        <p class="cyberfont" style="font-size: 135%;">После успешного входа вам открываются следующие возможности:</p>
        <ul class="cyberfont" style="font-size: 105%;">
            <li>Отправиться проходить квесты и получать бонусы для сетевой игры.</li>
            <li>Начать новую сетевую игру и присоединиться к конфликту.</li>
        </ul>

        <p class="cyberfont" style="font-size: 135%;">Сетевая игра:</p>
        <ul class="cyberfont" style="font-size: 105%;">
            <li>В центре экрана находится игровое поле, состоящее из шестиугольников – серверов, которые можно захватить.</li>
            <li>Цвета клеток обозначают, какой фракции они принадлежат. Каждый ход клетки генерируют очки.
                В правом нижнем углу находится таймер ходов: он показывает, какая из команд и который из игроков ходит.</li>
            <li>В нижней панели расположены инструменты взлома – различные способности, влияющие на состояния клеток.</li>
        </ul>

        <p class="cyberfont" style="font-size: 135%;">Игровой процесс:</p>
        <ul class="cyberfont" style="font-size: 105%;">
            <li>Каждый ход игрок может управлять очками своих клеток. Для этого необходимо выбрать клетку левой кнопкой мыши,
                затем зажать ЛКМ и передвинуть курсор на соседнюю клетку.</li>
            <li>Прокручиванием колесика мыши можно регулировать, сколько очков вы передадите клетке или получите от нее.
                Если клетка вражеская, обе клетки будут терять очки.</li>
        </ul>
    </div>
</div>

{% endblock %}