{% extends 'base/base.html' %}

{% block content %}

{% load static %}

{% block extra_js %}
<script src="{% static 'profile.js' %}"></script>
{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
<link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
{% endblock %}


{% if error %}
<div class="text-center alert alert-danger" role="alert">{{ error }}</div> {% else %}

<form class="form-padding" method="post"> {% csrf_token %}
    <div class="row py-4 px-1 mb-5">
        <div class="col-xl-10 col-md-10 col-sm-10 mx-auto">
            <div class="bg-white shadow rounded_border overflow-hidden">
                <img src="{% static '/profilepic.png' %}" alt="..." width="130"
                     class="profile_pic rounded-circle mb-2 img-thumbnail">
                <div class="dark_part px-4 bg-dark cyberfont">
                    <h1 class="text-white mb-1 pt-3 name">{{ login }}</h1>
                    <input type="text" class="info form-control bg-dark col-sm-7 text-white-50" {% if not self %}
                           readonly {% endif %}
                           placeholder="Изменить описание" maxlength="32" value="{{ about }}" name="about">
                </div>

                <div class="bg-light p-4" >
                    <h3 class="text-center cyberfont">Level {{ level }}</h3>
                    <div class="progress my-3 progress_bar">
                        <div class="progress-bar progress_background" id="progress-bar" role="progressbar"
                             aria-valuenow="{{ exp }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>

                    <div class="form-group pt-3 row cyberfont" align="center">
                        <div class="col-sm-3 display">
                            <div class="mb-1">Team</div>
                            <div class="mb-1 number">{{ team }}</div>
                        </div>
                        <div class="col-sm-3 display">
                            <div class="mb-1">Reputation</div>
                            <div class="mb-1 number">{{ reputation }}</div>
                        </div>
                        <div class="col-sm-3 display">
                            <div class="mb-1 ">Games played</div>
                            <div class="mb-1 number">{{ played_games }}</div>
                        </div>
                        <div class="col-sm-3 display">
                            <div class="mb-1">Victories</div>
                            <div class="mb-1 number">{{ victories }}</div>
                        </div>
                    </div>

                    {% if self %}
                    <div class="form-group row pt-4">
                        <div class="col ml-4">
                            <div ><span class="cyberfont">Логин: </span> <b class="label_font"> {{ login }}</b></div>
                            <div class="pt-3"><span class="cyberfont">Email: </span><b class="label_font"> {{ email }}</b></div>
                            <div class="pt-3"><span class="cyberfont">Дата регистрации: </span><b class="label_font"> {{ regdate|date:"d.m.Y" }}</b></div>
                        </div>

                        <div class="col cyberfont">
                            <center>
                                <button type="button" class="btn btn-primary btn-block"
                                        style="width: 80%"
                                        data-toggle="modal"
                                        data-target="#changePassword">Сменить пароль
                                </button>
                                <button type="button" class="btn btn-secondary btn-block"
                                        style="width: 80%"
                                        data-toggle="modal"
                                        data-target="#deleteAccount">Удалить аккаунт
                                </button>
                            </center>
                        </div>
                    </div>

                    <div class="form-group row cyberfont">
                        <div class="col ml-4">
                            {% if activated %}
                            <div class="text-center alert alert-success mt-3"
                                 role="alert">Аккаунт верифицирован</div>
                            {% else %}
                            <div class="text-center alert alert-warning mt-3"
                                 role="alert">Аккаунт не верифицирован</div>
                            {% endif %}
                        </div>

                        <div class="col" style="padding-top: 2.8%;">
                            <center>
                                <button type="submit" class="save_button btn btn-primary btn-block"
                                        onclick="action_tag.value = 'save-chan'">Сохранить изменения
                                </button>
                            </center>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group row pt-4">
                        <div class="col">
                            <div>Дата регистрации: {{ regdate|date:"d.m.Y" }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <input type="hidden" name="action" id="action_tag">
            <script> action_tag.value = ""; </script>

            <div class="modal fade" id="changePassword" tabindex="-1" role="dialog"
                 aria-labelledby="changePasswordLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changePasswordLabel">Сменить пароль</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="OldPassword">Введите старый пароль</label>
                                <input type="password" class="form-control" id="OldPassword" name="password">
                            </div>

                            <div class="form-group">
                                <label for="NewPassword">Введите новый пароль</label>
                                <input type="password" class="form-control" id="NewPassword" name="new_password">
                            </div>

                            <div class="form-group">
                                <label for="NewPassword2">Введите новый пароль повторно</label>
                                <input type="password" class="form-control" id="NewPassword2">
                            </div>

                        </div>

                        <div class="modal-footer" id="change_pw_button_footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    onclick="clear_pw_change_form()">Отмена
                            </button>
                            <button type="submit" class="btn btn-primary"
                                    onclick="action_tag.value = 'save-pass'; check_pw_change()" id="save_pw_tag">Сменить
                            </button>
                        </div>

                        <div class="modal-footer" id="change_pw_warning_footer" hidden>
                            <div class="alert alert-danger w-100" role="alert">
                                Пароли не совпадают!
                                <button type="button" class="close" aria-label="Close" onclick="close_pw_warning()">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteAccountLabel">Удалить аккаунт</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Это действие приведёт к необратимым последствиям. Желаете продолжить?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delete_cancel">
                                Отмена
                            </button>
                            <button type="submit" class="btn btn-danger" onclick="action_tag.value = 'del'">Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

{% endif %}
{% endblock %}
