{% extends 'base/base.html' %}


{% load bootstrap4 %}


{% block content %}

<style>
  body {
      background: linear-gradient(to bottom, #ffff00, #ffffff);
  }

  .form1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-80%);

  }

  .form1 h1 {
      margin: 30px 100px;
      padding: 0;
      text-align: center;
      color: #000;
      font-size: 30px;
      text-transform: uppercase;
  }

</style>

    <div class='form1 row'>
        <div class='text-right'>
            <h1 class="cyberfont"> ТОП ИГРОКОВ </h1>
            <div class="container text-center row">
                    <div class="form-group col-6">
                        <h1 class="cyberfont"> По опыту </h1>
                        {% for UserData in topexp_list %}
                            <div class="row border border-dark m-2 p-3">
                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Никнейм</div>
                                    <div class="form-group">{{ UserData.user }}</div>
                                </div>
                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Уровень</div>
                                    <div class="form-group">{{ UserData.level }}</div>
                                </div>

                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Опыт</div>
                                    <div class="form-group">{{ UserData.exp }}</div>
                                </div>
                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Фракция</div>
                                    <div class="form-group">{{ UserData.team }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
<!--                ИЗБАВИТЬСЯ ОТ КОПИПАСТА -->
                <div class="form-group col-6">
                    <h1 class="cyberfont"> По репутации </h1>
                        {% for UserData in toprep_list %}
                            <div class="row border border-dark m-2 p-3">
                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Никнейм</div>
                                    <div class="form-group">{{ UserData.user }}</div>
                                </div>
                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Уровень</div>
                                    <div class="form-group">{{ UserData.level }}</div>
                                </div>

                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Репутация</div>
                                    <div class="form-group">{{ UserData.reputation }}</div>
                                </div>
                                <div class="col-sm-6 display cyberfont">
                                    <div class="">Фракция</div>
                                    <div class="form-group">{{ UserData.team }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
             </div>
        </div>
    </div>


{% endblock %}