{% extends 'base/base.html' %}


{% block content %}
<style>
        body {
            background: linear-gradient(to right, #9FE2BF, #B0E0E6);
        }

        .rounded_border {
            border-radius: 40px;
        }

        .move_everything {
            margin-top: 12%;
            padding-bottom: 8%;
        }

        .dark_part {
            margin-top: -2%;
            height: 125px;
        }
</style>

{% if error %}

<div class="text-center alert alert-danger" role="alert">{{ error }}</div>

{% else %}

<div class="row move_everything">
    <form action="/sessions/" method="post" class="col"> {% csrf_token %}
        <div class="dark_part bg-dark cyberfont rounded_border rounded-bottom">
            <h2 class="text-center text-white cyberfont pt-5" style="font-size: 150%;">Поиск игровых сессий</h2>
        </div>

        <div class="container bg-white shadow rounded_border rounded-top overflow-hidden p-4">
            <div class="row cyberfont pt-2" >
                        <div class="col-lg-3 text-center" style="margin: auto;">Название сессии</div>
                        <div class="col-lg-6 lg-pb-2" style="margin: auto;"> {{ form.session_title }} </div>
                        <button type="submit" class="btn btn-primary col-lg-2 d-none d-lg-block"
                                style="margin: auto;">Найти</button>
                        <button type="submit" class="btn btn-primary col-lg-2  d-lg-none"
                                style="margin: 2%;">Найти</button>
            </div>

            <div class="pt-5 pb-5">
                {% if nothing_found %}
                    <div class="text-center alert alert-warning" role="alert">Ничего не найдено</div>
                {% else %}
                    <table class="table">
                        <thead class="thead-dark">
                        <tr class="cyberfont" style="font-size: 120%;">
                            <th scope="col">Название</th>
                            <th scope="col">Ограничения по уровню</th>
                            <th scope="col">Игроков набралось</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% block tables %}
                            {% for row in table %}
                            <tr class="table-secondary">
                                <td><a href="join_gs/gsid={{ row.0.id }}/">{{ row.0.title }}</a></td>
                                <td>{{ row.1 }}</td>
                                <td>{{ row.2 }}</td>
                            </tr>
                            {% endfor %}
                        {% endblock %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            {% if not nothing_found %}
            <div class="row mt-1 pb-4" style="font-size: 140%;">
                <div class="col-lg-8"></div>
                <div class="col-lg-4 cyberfont" style="font-size: 70%;">
                    <a type="button" class="btn btn-primary {% if cant_back %}disabled{% endif %}" style="width: 20%;"
                        href="/sessions/?page={{ prev_page }}"> <</a>
                    Страница {{ page }} из {{ page_count }}
                    <a type="button" class="btn btn-primary {% if cant_forward %}disabled{% endif %}" style="width: 20%;"
                        href="/sessions/?page={{ next_page }}"> ></a>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>

{% endif %}

{% endblock %}
