.form-padding {
    padding-top: 10%
}

.number {
    font-size: 150%;
}
.dark_part {
    padding-bottom: 5%;
    min-width: 900px;
}

.password_button {
    margin-left: 2%;
}

.delete_button {
    margin-left: 2%;
    margin-
}

.save_button {
    margin-left: 35%;
    margin-top: -0.5%;
}

.info {
    position: absolute;
    border: none;
    margin-left: 22%;
    margin-top: -0.5%;
    font-size: 100.5%;
    height: 7.5%;
}

.profile-header {
    transform: translateY(5rem);
}

.rounded_border {
    border-radius: 40px;
}

.display {
    display: inline-block;
}

body {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;
    font-family: 'cyberpunk';
    font-size: 140%;
}

.profile_pic {
    position: absolute;
    margin-top: -7%;
    margin-left: 7%;
}

.name {
    margin-left: 25%;
}

@font-face {
    font-family: 'cyberpunk';
    src: url('fonts/Rus.ttf');
    font-style: normal;
    font-weight: normal;
}


.progress_bar {
height: 30px;
}

.progress_background {
    background: linear-gradient(to right,#eaafc8, #654ea3);
}