{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container card text-white pt-3" style="background-color: rgba(0, 0, 0, 0.6); padding-bottom : 7%;">
    {% block fraction %}{% endblock %}
    <div class="text-center">
        {% block info %}{% endblock %}
        <div class="col">
            <div class="pt-4 mb-4 cyberfont">Топ 10 участников:</div>
            {% block members %}
            {% for item in members %}
            <div class="cyberfont">
                {{ forloop.counter }}.
                {{ item }}
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
