{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container card text-white pt-3" style="background-color: rgba(0, 0, 0, 0.6); height: 90vh">
    {% block fraction %}{% endblock %}
    <div class="row">
        {% block info %}{% endblock %}
        <div class="col">
            <div class="pt-4 cyberfont">Участники:</div>
            {% block members %}
            {% for item in members %}
            <div>
                {{ item }}
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
