{% extends 'pages/fractions/base_fraction.html' %}
{% load static %}

{% block fraction %}
<style>
    body {
        background: linear-gradient(to top right, #111111, #dddddd);
    }
</style>
<img src="{% static '/fr1.png' %}" class="card-img" style="opacity: 0.6; filter: alpha(opacity=60);" alt="...">
<div class="card-img-overlay">
    <h1 class="card-title text-center cyberfont" style="padding-top: 24%; font-size: 350%;">Cyber Corp</h1>
</div>
{% endblock %}

{% block info %}
<div class="col">
    <p class="card-text pt-4 cyberfont pb-4" style="font-size: 105%;">Прогресс. Cyber Corp - развивающаяся отрасль под
        предводительством истинного лидера! На
        протяжении всего существования компании нашей единственной целью стали улучшение качества жизни людей и их
        защита. Гений научной мысли, доктор Фредрик Джонсон, определил истинно верный путь к прогрессу и ведет нас в
        светлое будущее! Аугментации... Что это? Представьте себе человека, лишенного способности ходить, он обречен
        провести всю жизнь в инвалидном кресле, но что если мы скажем, что каждый способен получить второй шанс.
        Благодаря аугментациям мы можем вернуть ему возможность ходить, его жизнь не будет отличатся от жизни здоровых
        людей. Способности вживления технологий в живой организм не ограничены. Фредрик Джонсон открывает для всех путь
        в новую эру - эру прогресса! К сожалению, с недавнего времени компания нуждается в новых умах, которые могли бы
        продолжить дело доктора Джонсона. Может быть это вы? Мы будем рады новым сотрудникам. "Cyber Corp": мы изменяем
        мир к лучшему!
    </p>
</div>
{% endblock %}