{% extends 'pages/fractions/base_fraction.html' %}
{% load static %}

{% block fraction %}
<style>
    body {
        background: linear-gradient(to right, #138808, #B2EC5D);
    }
</style>
<img src="{% static '/fr3.jpg' %}" class="card-img" style="opacity: 0.6; filter: alpha(opacity=60);" alt="...">
<div class="card-img-overlay">

    <h1 class="card-title text-center cyberfont" style="padding-top: 25%; font-size: 280%;">Зов Свободы</h1>
</div>
{% endblock %}

{% block info %}
<div class="col">
    <p class="card-text pt-4 cyberfont pb-4" style="font-size: 105%;">На протяжении последних лет технологические
        компании, развиваясь бешенными темпами, стали душить граждан города Matrix. Аугментации, защита граждан, все
        предлагаемое ими нарушает спокойную жизнь жителей. Именно поэтому мы создаем содружество, которое будет
        противостоять компаниям, с целью сохранения нашего общества и предотвращения его упадка. Мы будем рады новым
        лицам в наших рядах. Ваш город нуждается в вас!!!<br> “Зов свободы”: долой технологии, создадим мир своими
        руками.
    </p>
</div>
{% endblock %}