{% extends 'pages/fractions/base_fraction.html' %}
{% load static %}

{% block fraction %}
<style>
    body {
        background: linear-gradient(to top right, #000000, #dddddd);
    }
</style>
<img src="{% static '/fr1.png' %}" class="card-img" style="opacity: 0.6; filter: alpha(opacity=60);" alt="...">
<div class="card-img-overlay">
    <h1 class="card-title text-center cyberfont" style="padding-top: 24%; font-size: 350%;">Cyber Corp</h1>
</div>
{% endblock %}

{% block info %}
<div class="col">
    <p class="card-text pt-4">This is a wider card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer. This is a wider card with supporting text below as a natural
        lead-in to additional
        content. This content is a little bit longer. This is a wider card with supporting text below as a natural
        lead-in to additional
        content. This content is a little bit longer.
    </p>
</div>
{% endblock %}